.div-time{
    border: 1px solid #000000;
    border-radius: 20px;
    width: 60px;
    height: 25px;
    text-align: center;
    padding-top: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.div-time:hover{
    transform: scale(1.1);
}

.flex-div{
    position: relative;
    display: flex;
    width: 750px;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    padding-top: 20px;
    
}

.reserved-div{
    background-color: rgba(0, 0, 0, .3);
    cursor: not-allowed;
    border: 1px solid #000000;
    border-radius: 20px;
    width: 60px;
    height: 25px;
    text-align: center;
    padding-top: 8px;
}


.selected-div{
    background-color: rgb(255, 255, 107);
    border: 1px solid #000000;
    border-radius: 20px;
    width: 60px;
    height: 25px;
    text-align: center;
    padding-top: 8px;
    cursor: pointer;
}

.hovered-div{
    background-color: aquamarine;
    border: 1px solid #000000;
    border-radius: 20px;
    width: 60px;
    height: 25px;
    text-align: center;
    padding-top: 8px;
    cursor: pointer;
}