
.btn{

    border: 1px solid #000000;
    border-radius: 20px;
    width: 120px;
    height: 25px;
    text-align: center;
    padding-top: 8px;
    cursor: pointer;
    transition: 0.2s;
    font-family: Arial, Helvetica, sans-serif;
}

.btn--reserved{
    background-color: rgba(0, 0, 0, .3);
    cursor: not-allowed;
}

.btn--hovered{
    background-color: aquamarine;
    
}

.btn--delete{
    border-radius: 15px;
    border-width: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn--delete:hover{
    background-color: #ff000056;
    cursor: pointer;
}

.btn--book{
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.btn--book:hover{
    background-color: aquamarine;
    cursor: pointer;
}

.btn--selected{
    background-color: rgb(255, 255, 107);
    
}

.btn--current-reserve{
    background-color: rgb(65, 251, 65);
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.1);
}

.btn--flex-div{
    position: relative;
    display: flex;
    width: 750px;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    padding-top: 20px;
}


.dropdown--user-logo{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
}

.dropdown--user-list{
    width: 200px;
    height: 30px;
    background-color: antiquewhite;
    border-radius: 20px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown--user-div{
    display: flex;
}

.context{
    background: white;
    border: 1px solid grey;
    padding: 0;
    position: absolute;
    border-radius: 2px;
    width: 100px;
}

.context__item{
    width: calc(100%-20px);
    cursor: pointer;
    list-style: none;
    margin: 0;
    padding: 10px 20px;
}

.context__item:hover{
    background-color: #b6eef8;
}



